<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitIndia</title>
    <link rel="stylesheet" th:href="@{/css/stylenavbar.css}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img th:src="@{/css/Fit_INDIA.png}" alt="FitIndia Logo"> </a>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/signup}">Signup</a></li>
            <li><a th:href="@{/caloriecalculator}">Calculate Calories</a></li>
            <li><a th:href="@{/dietplan}">Diet Plan</a></li>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
        </ul>
        <div class="mode-toggle">
            <button id="dark-mode-toggle">Dark Mode</button>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>


    <script th:src="@{css/js/script.js}"></script>
</body>
</html>